{% extends "base.html" %}

{% block title %}{{ SITENAME }} - Dicas para programação de desenvolvimento de softwares{%endblock%}

{% block content %}

<section id="primary">
	<div id="content" class="full-content" role="main">

	<article class="page type-page status-publish hentry">

		<header class="entry-header">
			<h1 class="entry-title">Resultado da busca</h1>
		</header><!-- /entry-header -->

		<div class="entry-content">
			<center>
				<div id="cse-search-results"></div>
				<script type="text/javascript">// <![CDATA[
				  var googleSearchIframeName = "cse-search-results";
				  var googleSearchFormName = "cse-search-box";
				  var googleSearchFrameWidth = 1200;
				  var googleSearchDomain = "www.google.com.br";
				  var googleSearchPath = "/cse";
				// ]]&gt;</script><br />
				<script type="text/javascript" src="http://www.google.com/afsonline/show_afs_search.js"></script><br />
			</center>
		</div><!-- /entry-content -->
		</article><!-- /post-1748 -->				</div><!-- /content -->
</section><!-- /primary -->

{% endblock %}
