{% extends "base.html" %}

{% block title %}{{ article.title }} - {{ SITENAME }}{%endblock%}

{% block content %}

<section id="primary">

	<div id="content" class="onesidebar-page" role="main">


    <article class="post">

    	<header class="entry-header">
    		<h1 class="entry-title">{{ article.title }}</h1>
    		<div class="entry-meta">
    			<span class="date">{{ article.locale_date }}</span>
    			<span class="author"><a href="{{ SITEURL }}/{{ article.author.url }}" title="Posts de {{ article.author }}" rel="author">{{ article.author }}</a></span>

					<span class="category">
						<a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>
					</span>

    			<span class="comments">
            <a href="{{ SITEURL }}/{{ article.url }}#disqus_thread"><i class="fa fa-comment-o"></i></a>
          </span>
    		</div><!-- /entry-meta -->
    	</header><!-- /entry-header -->

    	<div class="entry-content">

        {{ article.content }}

      </div>
    </article>


          {% include 'author-info.html' %}

          {% include 'banner-post-end.html' %}

          {% include 'comments.html' %}


  </div>
</section>

{% include 'post-sidebar.html' %}

{% endblock %}
