{% extends "base.html" %}

{% block title %}{{ article.title }} - {{ SITENAME }}{%endblock%}

{% block content %}

<section id="primary">

	<div id="content" class="onesidebar-page" role="main">


    <article class="post">

    	<header class="entry-header">
    		<h1 class="entry-title">{{ article.title }}</h1>
    		<div class="entry-meta">
    			<span class="date">30/05</span>
    			<span class="author"><a href="{{ SITEURL }}/author/gustavo-foa/" title="Posts de Gustavo Furtado" rel="author">Gustavo Furtado</a></span>
    			<span class="category"><a href="{{ SITEURL }}/iniciante/" rel="category tag">Iniciante</a>, <a href="http://www.dicasdeprogramacao.com.br/programacao/" rel="category tag">Programação</a></span>
    			<span class="comments">
            <a href="{{ SITEURL }}/{{ article.url }}#disqus_thresd"><span class="fa fa-comment-o"></span></a>
          </span>
    		</div><!-- /entry-meta -->
    	</header><!-- /entry-header -->

    	<div class="entry-content">

        {{ article.content }}

      </div>
    </article>


          {% include 'author-info.html' %}

          {% include 'banner-post-end.html' %}

          {% include 'comments.html' %}


  </div>
</section>

{% endblock %}
