<div class="entry-author">
  <h3 class="title">Sobre Gustavo Furtado</h3>
  <div class="author-avatar">
    <img alt='' src='http://1.gravatar.com/avatar/7076569b0bebc4d11c492ab50e6135d0?s=68&#038;d=mm&#038;r=g' srcset='http://1.gravatar.com/avatar/7076569b0bebc4d11c492ab50e6135d0?s=136&amp;d=mm&amp;r=g 2x' class='avatar avatar-68 photo' height='68' width='68' />				</div><!-- /author-avatar -->
  <div class="author-description">
    É mestre em computação aplicada no Institudo Nacional de Pesquisas Espaciais, Engenheiro da Computação pela ETEP Faculdades e Técnico em Informática pela Escola Técnica Pandiá Calógeras. Possui as certificações SCWCD e SCJP e trabalha com desenvolvimento de softwares desde 2007.					<div id="author-link">
      <a href="http://www.dicasdeprogramacao.com.br/author/gustavo-foa/" rel="author">
        Veja todos os artigos de Gustavo Furtado <span class="meta-nav">&rarr;</span>						</a>
    </div><!-- /author-link	-->
  </div><!-- /author-description -->
</div><!-- /author-info -->
