<div class="banner-header">
     <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
     <-- Cabeçalho DP ->
     <ins class="adsbygoogle"
          style="display:block"
          data-ad-client="ca-pub-6041601556788047"
          data-ad-slot="1821948575"
          data-ad-format="auto"></ins>
     <script>
     (adsbygoogle = window.adsbygoogle || []).push({});
     </script>
</div>

<!--
<a href="https://inscricao.dicasdeprogramacao.com.br/01ls-inscricao.html">
     !--<img class="top-banner" src="/theme/images/banners/mclp/mclp-banner-top-1-728x90.png" />--
     <img class="top-banner" src="/theme/images/banners/01ls/convite-01.png" />
</a>
-->