<!--
<div class="banner-header">
     <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
     <ins class="adsbygoogle"
          style="display:block"
          data-ad-client="ca-pub-6041601556788047"
          data-ad-slot="1821948575"
          data-ad-format="auto"></ins>
     <script>
     (adsbygoogle = window.adsbygoogle || []).push({});
     </script>
</div>
-->

<!--
{% set random_top_banner = range(1, 4)|random %}

{% if random_top_banner == 1 %}
<a href="https://academiadoprogramador.com.br/">
     <img class="top-banner" src="/theme/images/banners/01li/inscricoes-abertas-topo-01.png" />
</a>
{% elif random_top_banner == 2 %}
<a href="https://academiadoprogramador.com.br/">
     <img class="top-banner" src="/theme/images/banners/01li/inscricoes-abertas-topo-02.png" />
</a>
{% elif random_top_banner == 3 %}
<a href="https://academiadoprogramador.com.br/">
     <img class="top-banner" src="/theme/images/banners/01li/inscricoes-abertas-topo-03.png" />
</a>
{% endif %}

{% if random_top_banner == 1 %}
<a href="https://inscricao.dicasdeprogramacao.com.br/01li-inscricao.html">
     <img class="top-banner" src="/theme/images/banners/01li/convite-topo-01.png" />
</a>
{% elif random_top_banner == 2 %}
<a href="https://inscricao.dicasdeprogramacao.com.br/01li-inscricao.html">
     <img class="top-banner" src="/theme/images/banners/01li/convite-topo-02.png" />
</a>
{% elif random_top_banner == 3 %}
<a href="https://inscricao.dicasdeprogramacao.com.br/01li-inscricao.html">
     <img class="top-banner" src="/theme/images/banners/01li/convite-topo-03.png" />
</a>
{% elif random_top_banner == 4 %}
<a href="https://inscricao.dicasdeprogramacao.com.br/01li-inscricao.html">
     <img class="top-banner" src="/theme/images/banners/01li/convite-topo-04.png" />
</a>
{% elif random_top_banner == 5 %}
<a href="https://mclp.dicasdeprogramacao.com.br/">
     <img class="top-banner" src="/theme/images/banners/mclp/mclp-banner-top-1-728x90.png" />
</a>
{% endif %}
-->
