<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>

      <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>

      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width" />
      <meta name="msvalidate.01" content="7C57649AFFBD787D72C669CF569F858F" />
      <meta name="alexaVerifyID" content="T9kEkK7cP5eAPkrWk5OuLEkXMpw" />

      <link href="{{ SITEURL }}/images/favicon.ico" rel="icon"/>

      {% block head %}

      <meta property="og:site_name" content="{{ SITENAME }}">
      {% block og_info %}
      {% endblock og_info %}

      {% endblock head %}

      <link rel="stylesheet" href="/theme/css/styles.css">
      <link rel="stylesheet" href="/theme/css/custom.css">
      {% block css %}
      {% endblock css %}

</head>

<body class="home blog">

  <div id="container" class="hfeed">

    {% include 'header.html' %}

    {% include 'banner-cabecalho.html' %}

    <div id="main">

      {% block content %}
      {% endblock %}

    </div>

    {% include 'analytics.html' %}

  </div><!--container-->

  {% include 'footer.html' %}

  <script id="dsq-count-scr" src="//dicas-de-programacao.disqus.com/count.js" async></script>

  {% block js %}
  {% endblock js %}
</body>

</html>
