{% extends "base.html" %}

{% block title %}{{ SITENAME }} - Dicas para programação de desenvolvimento de softwares{%endblock%}

{% block content %}

{% include 'left-sidebar.html' %}

<section id="primary">
	<div id="content" role="main">

		<div id="featured-cats">

			{% include 'feat-last-posts.html' %}

			{% include 'feat-cat-1.html' %}

			{% include 'feat-cat-2.html' %}

			{% include 'feat-cat-3.html' %}

			{% include 'feat-cat-4.html' %}

		</div>

	</div>
</section>

{% include 'post-sidebar.html' %}

<script type='text/javascript' src='/theme/js/jquery.js'></script>
<script type='text/javascript' src='/theme/js/superfish.js'></script>
<script type='text/javascript' src='/theme/js/flexslider-min.js'></script>
<script type='text/javascript' src='/theme/js/jquery.mobilemenu.js'></script>
<script type='text/javascript' src='/theme/js/jcarousellite_1.0.1.min.js'></script>
<script type='text/javascript' src='/theme/js/MetroJs.min.js'></script>
<script type='text/javascript' src='/theme/js/custom.js'></script>
{% endblock %}
