<div id="left-sidebar" class="sidebar">

	<aside id="categories-3" class="widget widget_categories">
    <h3>Categorias</h3>
    <ul>
      {% for category, articles in categories %}
        <li><a class="cat-item" href="{{ SITEURL }}/{{ category.url }}">{{ category }} ({{articles | count}})</a></li>
      {% endfor %}
    </ul>
  </aside>


  <aside id="text-3" class="widget widget_text">
    <div class="textwidget">
      <center>
        <script type="text/javascript"><!--
          google_ad_client = "ca-pub-6041601556788047";
          /* Arranha-Ceu Esq. DP */
          google_ad_slot = "2182598979";
          google_ad_width = 160;
          google_ad_height = 600;
          //-->
        </script>
        <script type="text/javascript"
          src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
          </script>
      </center>
    </div>
  </aside>


  <aside id="wellthemes_googleplus_widget-2" class="widget widget_googleplus">
    <h3>Siga-nos no Google+</h3>
    <div class="google-box">
  		<!-- Google +1 script -->
  		<script type="text/javascript">
  		 window.___gcfg = {lang: 'pt-BR'};

  		  (function() {
  			var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
  			po.src = 'https://apis.google.com/js/plusone.js';
  			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  		  })();
  		</script>
  		<!-- Link blog to Google+ page -->
  		<a style='display: block; height: 0;' href="https://plus.google.com/u/0/107761399787763673743" rel="publisher">&nbsp;</a>
  		<!-- Google +1 Page badge -->
  		<g:plus href="https://plus.google.com/u/0/107761399787763673743" height="131" width="240" theme="light"></g:plus>

  	</div>
  </aside>



</div><!-- /sidebar -->
