#share_post {
    width: 60px
}
#share_post-box {
    background: #fff;
    border: 1px solid #ccc;
    display: block;
    float: left;
    margin: 0;
    padding: 12px 5px 5px;
    position: absolute;
    text-align: center;
    top: 0;
    z-index: 9999
}
#share_post-box iframe {
    margin: 0;
    padding: 0
}
#share_post-box div {
    margin: 0 0 5px
}
#share_post-box:hover {
    opacity: 1 !important
}
#share_post-box.rounded {
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px
}
#share_post-twitter iframe {
    height: 63px !important
}
#share_post-twitter .twitter-count-vertical {
    width: 56px !important
}
#share_post-facebook>div {
    margin: 1px 0 0 !important
}
#share_post-facebook .fb_iframe_widget iframe {
    position: relative !important
}
#share_post-email a {
    border: 1px solid #ccc;
    color: #777;
    display: block;
    text-decoration: none
}
#share_post-email a a:hover {
    background: #eee
}
#fb-root {
    display: none
}
